<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DBModelContext" connectionString="data source=sistemas01;initial catalog=DBLogins;user id=sa;password=RCingenieros;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>