
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RC INGENIEROS </title>

    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/Alertify/css/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/vendors/Alertify/css/themes/bootstrap.rtl.min.css" rel="stylesheet" />


</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>
                        <h1>RCINGENIEROS SAC.</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Ingrese Usuario " id="txtUsuario" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" id="txtpassword" required="" />
                        </div>
                        <div>
                            <a class="btn btn-success" id="btnLogin">INGRESAR</a>
                            <a class="btn btn-danger"  id="BtnCancelar">CANCELAR</a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="separator">
                            <div class="clearfix"></div>

                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
</html>


<script src="~/Content/vendors/jquery/dist2/jquery.min.js"></script>
<script src="~/Content/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/Content/vendors/fastclick/fastclick.js"></script>
<script src="~/Content/vendors/nprogress/nprogress.js"></script>
<script src="~/Content/vendors/validator/validator.js"></script>
<script src="~/Content/build/js/custom.min.js"></script>
<script src="~/Content/vendors/Alertify/js/alertify.min.js"></script>


<script type="text/javascript">


    $("#btnLogin").click(function () {
        if ($("#txtUsuario").val() == '') {

            alertify.error('Ingrese el Usuario!');

        } else if ($("#txtpassword").val() == '') {

            alertify.error('Ingrese  su Password!');

        } else {
            var data = {
                UsuarioLogin: $("#txtUsuario").val(),
                Password: $("#txtpassword").val()
            }

            $.ajax({
                url: '/Seguridad/AutenticacionUsuario/',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (Estado) {
                    if (Estado =="OK") {

                        window.location.href = '/Movimientos/Index';

                    } else {
                        alertify.error('Error, usuario o contraseña no valida');
                        LimpiarCajas();
                    }
                },
                error: function (result) {
                    alertify.error('Error, usuario o contraseña no valida2');
                    LimpiarCajas();
                }

            });
        }

    });





    function LimpiarCajas() {
        $("#txtUsuario").val('');
        $("#txtpassword").val('');
        $("#txtUsuario").focus();
    }

</script>


